<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
  
      <!-- Forgot Password Form -->
      <form>
        <input [(ngModel)]="UserId" type="text" autocomplete="off" id="login" class="fadeIn second" name="login"  placeholder="Enter your registered Email or Mobile Number">
        <p *ngIf="showerror" style="color: red" >"Entered Email or OTP is not registered, Please enter correct one or first register"</p>
        <input type="button" class="fadeIn fourth" value="Submit" (click)="ValidateAndNavigateToOTP()">
      </form>
  
  
    </div>
  </div>