<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
  
      <!-- Reset Pasword Form -->
      <form>
        <p>Enter New Passord</p>
        <input type="text" id="Passord" class="fadeIn second" name="NewPassword" placeholder="Enter New Passord">
        <input type="text" id="repassword" class="fadeIn second" name="ReenterPassword" placeholder="Reenter New Password">
        <input type="button" class="fadeIn fourth" value="Submit">
      </form>
  
  
    </div>
  </div>